{% extends "template.html" %}
{% block title %}
	GAME
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-8 ">
		<h1 class="display-4 text-white" id="title">Welcome to</h1>
		<h1 class="display-2 text-white-50 pb-3" id="title">Memory - Game</h1>	
<a href='/login' ><button class="btn btn-dark btn-lg">Login now!</button></a></div>
	<div id="letsplay" class="col-md-4 text-right"><img src="../static/letp.png" style="max-width:90%; transform:rotate(-5deg); margin-top:-3vw;">
	</div>
</div>


{% endblock %}
