{% extends "template.html" %}

{% block title %}
	GAME
{% endblock %}
	


{% block body %}
	<div class="text-center pb-3">
	<h1 id="title">Sign in and start playing
	</h1>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-2">
		<form method='post' action='/login'>	
		 <div class="form-group">
			<label class="h4 text-white-50" for="username" >Username</label>
			<input id="username" name="username" type="text" class="form-control" autofocus>
		 </div><!--end form group-->
		 <div class="form-group">
			<label class="h4 text-white-50"  for="pwd" >Password</label>
			<input id="pwd" name="pwd" type="password" class="form-control">
		 </div><!--end form group-->
		 <button type="submit" class="btn btn-dark  form-control">Enter</button>
		</form>
	</div>
</div>
{% endblock %}
